.cli-background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateY(0)
}

@keyframes matrix-rain {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(200vh);
  }
}

/* Remove the @for loop and rely on the inline styles in the component */
