@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "VT323";
  src: url("/font/VT323-Regular.ttf");
}

@font-face {
  font-family: "Hack-NF";
  src: url("/font/Hack-NF.ttf");
}

@layer components {
  a {
    position: relative;
    text-decoration: none;
  }
  
  a:hover::before {
    content: "> ";
  }
  
  a:hover::after {
    content: " <";
  }
}