.gui-background {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.6;
  perspective: 90vh;
  z-index: 1;
}

.gui-background:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: -50vw;
  width: 200vw;
  background-image: 
    linear-gradient(var(--bgColor) 0.3vh, transparent 0),
    linear-gradient(90deg, var(--bgColor) 0.3vh, transparent 0),
    linear-gradient(var(--bgColor) 0.3vh, transparent 0),
    linear-gradient(90deg, var(--bgColor) 0.3vh, transparent 0);
  background-size: 20vh 20vh, 20vh 20vh, 4vh 4vh, 4vh 4vh;
  background-position: -0.2vh -0.2vh, -0.2vh -0.2vh, -0.1vh -0.1vh, -0.1vh -0.1vh;
  will-change: transform;
  transform: rotateX(80deg);
  top: -50vh;
  animation: gridMoveTop 20s linear infinite;
  z-index: 2;
}

.gui-background:before {
  content: '';
  position: fixed;
  top: 0;
  left: -50vw;
  width: 200vw;
  background-image: 
    linear-gradient(var(--bgColor) 0.3vh, transparent 0),
    linear-gradient(90deg, var(--bgColor) 0.3vh, transparent 0),
    linear-gradient(var(--bgColor) 0.3vh, transparent 0),
    linear-gradient(90deg, var(--bgColor) 0.3vh, transparent 0);
  background-size: 20vh 20vh, 20vh 20vh, 4vh 4vh, 4vh 4vh;
  background-position: -0.2vh -0.2vh, -0.2vh -0.2vh, -0.1vh -0.1vh, -0.1vh -0.1vh;
  will-change: transform;
  transform: rotateX(-80deg);
  bottom: -50vh;
  animation: gridMoveBottom 20s linear infinite;
  z-index: 2;
}

@keyframes gridMoveTop {
  0% {
    transform: rotateX(80deg) translateY(0);
  }
  100% {
    transform: rotateX(80deg) translateY(20vh);
  }
}

@keyframes gridMoveBottom {
  0% {
    transform: rotateX(-80deg) translateY(0);
  }
  100% {
    transform: rotateX(-80deg) translateY(-20vh);
  }
}
